<nav class="navbar navbar-expand-sm navbar-dark secondary">
    <div class="container me-2">
        <a class="navbar-brand ms-4" [routerLink]="['/']">IDP</a>
        <a class="navbar-toggler d-lg-none" type="a" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </a>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/user/']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link" (click)="createIdp()">Create IDP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/user/idp']">Show IDP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['']">Logout</a>
                </li>
                <li class="nav-item">
                    <img src="/assets/images/elon-musk.jpg" alt="..." class="rounded-circle border border-2"
                        width="50px" (click)="navigateToProfile()">
                </li>
            </ul>
        </div>
    </div>
</nav>