main {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../../../assets/images/Group 7.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding-top: 5%;
}

h1 {
    font-size: 4.3rem;
    font-weight: 600;
    color: rgb(104, 23, 23);
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

h1:hover {
    text-shadow: 10px 10px 10px #8f7c7cc5;
}

q {
    font-size: 2rem;
    color: #333;
    padding-left: 2rem;
    width: 500px;
}

span {
    color: rgb(233, 238, 240);
    font-size: 40px;
    font-weight: bold;
    width: 100vw;
    font-size: 5rem;
}

.description {
    font-style: italic;
    font-weight: 600px;
    font-size: 18px;
    width: 500px;
    text-align: justify;
    margin: 3rem 3rem;
    padding: 1rem;
    text-shadow: #222222 4px 5px 5px 5px;
    background: linear-gradient(rgba(233, 226, 219, 0.466), rgba(216, 223, 233, 0.499));
    border-radius: 10px;
}

.quote {
    color: rgb(1, 66, 177);
    font-weight: 600;
    font-style: italic;
    font-weight: 600px;
    font-size: 28px;
    width: 500px;
    text-align: justify;
    margin: 3rem 3rem;
    padding: 1rem;
    text-shadow: #222222 4px 5px 5px 5px;
    box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.2),
        -10px -10px 10px -1px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    transition: transform 0.5s;
}

.quote:hover {
    transform: scale(105%);
}