<main>
    <h1>Welcome to your Individual Development Plan</h1>
    <p class="quote">"KNOWER IS ONLY ONE. OBJECTS TO BE KNOWN ARE INFINITE!"</p>

    <div class="box">
        <p class="description text-dark">
            The Individual Development Plan for every year is to improve the skills and knowledge of each employee in the workplace.Every employee in our organization should create one IDP every year.This will help you understand your growth and performance.wish you all the best!
        </p>
    </div>
</main>
