<div class="container border border-secondary rounded-5 tile row w-50 h-25">
    <div class="col col-sm-2">
        <img src="/assets/images/elon-musk.jpg" alt="Elon Musk" class="rounded-circle border border-2" width="80px">
    </div>
    <div class="col col-md-4">
        <h4>Elon-musk</h4>
        <p>CEO of Tesla</p>
        <div class="d-flex">
            <p class="font-weight-bold">Age:-</p>
            <p>25</p>
        </div>
        <div class="d-flex">
            <p class="font-weight-bold">Department:-</p>
            <p>Above all</p>
        </div>
        <div class="d-flex">
            <p class="font-weight-bold">Designation:-</p>
            <p>CEO</p>
        </div>
        <div>
            <div class="d-flex">
                <p>Mobile:</p>
                <a class="text-primary ms-1" href=“tel:555-666-7777”>555-666-7777</a>
            </div>
            <div class="d-flex">
                <p>Email:</p>
                <a class="text-primary ms-1" href="mailto: musk@tesla.com">musk@tesla.com</a>
            </div>
        </div>
    </div>
</div>