<main>
    <div class="leftside">
        <form class="form-control" #form="ngForm" (ngSubmit)="createObjective()">
            <h1>Create Objective</h1>
            <div class="holder">
                <label for="Category">Category:</label>
                <select name="category" [(ngModel)]="model.categoryId" id="category"required>
                    <option  *ngFor="let item of category" value="{{item.id}}">{{item.name}}</option>
                </select>
                <label for="objective">Name:</label>
                <input type="text" name="name" id="name" cols="30" rows="3" [(ngModel)]="model.name" #name="ngModel"
                    required maxlength="50">
                <div class="text-danger" *ngIf="name.touched">
                    <div *ngIf="name.errors?.['required']">Enter objective</div>
                    <div *ngIf="name.errors?.['maxlength']">maximum 50 characters</div>
                </div>
                <label for="startdate">Start Date:</label>
                <input name="startDate" type="date" [(ngModel)]="model.startDate" #startDate="ngModel" min="{{currentDate}}" required>
                 <div class="text-danger" *ngIf="startDate.invalid && startDate.touched">
                    <div *ngIf="startDate.errors?.['required']">StartDate is required.</div>
                </div>
                <div>
                    <label class=""></label>
                </div>
                <label for="Enddate">End Date:</label>
                <input name="endDate" type="date" [(ngModel)]="model.endDate" #endDate="ngModel" min="{{model.startDate}}" required>
                <div class="text-danger" *ngIf="endDate.invalid && endDate.touched">
                    <div *ngIf="endDate.errors?.['required']">Enddate is required.</div>
                </div>
                <button value="submit" class="btn btn-success w-100 my-3 rounded-5">SAVE</button>
            </div>
        </form>
    </div>
    <div class="rightside">
        <img src="/assets/images/Mimage.png" alt="an image">
    </div>
</main>