<div class="row">
    <div class="col-sm container border border-dark rounded-2 text-center text-light tile-color me-4">
        <h3>Objective name</h3>
        <h4>objective date</h4>
    </div>
    <div class="col-sm container border border-dark rounded-2 text-center text-light tile-color me-4">
        <h3>Objective name</h3>
        <h4>objective date</h4>
    </div>
    <div class="col-sm container border border-dark rounded-2 text-center text-light tile-color me-4">
        <h3>Objective name</h3>
        <h4>objective date</h4>
    </div>
</div>