<div class="row d-flex align-items-center me-3 ms-5">
    <div class="arrow-button"><fa-icon [icon]="arrowLeftIcon" class="fa-5x"></fa-icon></div>
    <section class="container col-sm me-3" *ngFor="let item of trainingItem">
        <div class="row">
            <div class="card text-white shadow  secondary">
                <div class="card-body text-dark">
                    <h4 class="card-title">Training name</h4>
                    <p class="card-text">Training description name</p>
                    <div class="d-flex mb-5" class="line-chart">
                        <canvas baseChart [data]="data" [options]="options" [type]="'line'">
                        </canvas>
                    </div>
                    <div class="container d-flex justify-content-center">
                        <div class="row">
                            <div class="col-sm">
                                <circle-progress [percent]="70" [radius]="100" [outerStrokeWidth]="16"
                                    [innerStrokeWidth]="8" [outerStrokeColor]="'#A162F7'"
                                    [innerStrokeColor]="'#a062f77c'" [animation]="true" [animationDuration]="300">
                                </circle-progress>
                            </div>
                            <div class="col-sm">
                                <circle-progress [percent]="20" [radius]="100" [outerStrokeWidth]="16"
                                    [innerStrokeWidth]="8" [outerStrokeColor]="'#45E3FF'"
                                    [innerStrokeColor]="'#45e4ef7d'" [animation]="true" [animationDuration]="300">
                                </circle-progress>
                            </div>
                            <div class="col-sm">
                                <circle-progress [percent]="50" [radius]="100" [outerStrokeWidth]="16"
                                    [innerStrokeWidth]="8" [outerStrokeColor]="'#6F88FC'"
                                    [innerStrokeColor]="'#6f89fc5b'" [animation]="true" [animationDuration]="300">
                                </circle-progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="arrow-button ms-5"><fa-icon [icon]="arrowRightIcon" class="fa-5x"></fa-icon></div>
</div>