.secondary {
    background-color: #6f89fc5b;
}

.tertiary {
    background-color: #45e4ef7d;
}

.pink {
    background-color: #a062f77c;
}

.arrow-button {
    color: grey;
    width: 20vh;
    height: 20vh;
}

.arrow-button:hover {
    color: #6F88FC;
}