<div class="column scroll">
    <div
        class="col-sm container rounded-2 text-center text-secondary tile-color ms-4 objective d-flex flex-row align-item-center ">
        <h4>Objective Name</h4>
        <h5 class="ms-4">objective Date</h5>
    </div>
    <div
        class="col-sm container rounded-2 text-center text-secondary tile-color ms-4 mt-3 objective d-flex flex-row align-item-center">
        <h4>Objective Name</h4>
        <h5 class="ms-4 text">objective Date</h5>
    </div>
    <div
        class="col-sm container rounded-2 text-center text-secondary tile-color ms-4 mt-3 objective d-flex flex-row align-item-center">
        <h4>Objective Name</h4>
        <h5 class="ms-4 text">objective Date</h5>
    </div>
</div>