<footer class=" text-light overlay">
    <div class="container">
        <section class="mt-6">
            <div class="row text-center d-flex justify-content-center pt-5">
                <div class="col-md-2">
                    <h6 id="about" class="text-uppercase font-weight-bold">
                        <button class="text-light btn btn-link">About Us</button>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <button class="text-light btn btn-link">IDPs</button>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <button class="text-light btn btn-link" (click)="contactUs()">Contact Us</button>
                    </h6>
                </div>
            </div>
        </section>
        <hr class="my-5">
        <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8" id="description">
                    <p class="text-center">
                        A tool to track and capture employee progress.
                    </p>
                </div>
                <div class="col-lg-8" id="contact">
                    <section class="mb-4">
                        <h2 class="font-weight-bold text-center">Contact us</h2>
                        <p class="text-center mb-5">Do you have any questions? Please do not
                            hesitate to contact us directly. Our team will come back to you within
                            a matter of hours to help you.</p>
                            <div class="container mt-2">
                                <div class="row">
                                  <div class="col-lg-6 mx-auto">
                                    <h3>Contact Us</h3>
                                    <div class="alert alert-success mt-3" role="alert" *ngIf="isSuccess">
                                      Your message has been sent successfully.
                                    </div>
                                    <form #contactForm="ngForm" (ngSubmit)="onSubmit()">
                                      <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control bulge-on-hover" id="email" placeholder="Enter your email"
                                          [(ngModel)]="model.fromAddress" name="email" required>
                                      </div>
                                      <div class="form-group">
                                        <div class="form-group">
                                          <label for="subject">Subject</label>
                                          <input type="text" class="form-control bulge-on-hover" id="subject" placeholder="Enter your subject"
                                            [(ngModel)]="model.subject" name="subject" required>
                                        </div>
                                        <label for="content">Message</label>
                                        <textarea class="form-control bulge-on-hover" id="content" placeholder="Enter your message"
                                          [(ngModel)]="model.body" name="content" rows="5" required></textarea>
                                      </div>
                                      <button type="submit" class="btn btn-primary mt-3"
                                        [disabled]="!contactForm.form.valid || isSubmitting">Submit</button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
    <section class="mb-5">
        <div class="row d-flex justify-content-center">
        </div>
    </section>
    <div class="text-center p-3 bottom-footer">
        <button class="text-light btn btn-link" href="https://www.experionglobal.com/">IDP Tracking tool</button>
    </div>
</footer>