<footer class="text-center text-light overlay">
    <div class="container">
        <section class="mt-6">
            <div class="row text-center d-flex justify-content-center pt-5">
                <div class="col-md-2">
                    <h6 id="about" class="text-uppercase font-weight-bold">
                        <button class="text-light btn btn-link">About Us</button>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <button class="text-light btn btn-link">IDPs</button>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <button class="text-light btn btn-link" (click)="contactUs()">Contact Us</button>
                    </h6>
                </div>
            </div>
        </section>
        <hr class="my-5">
        <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8" id="description">
                    <p>
                        A tool to track and capture employee progress.
                    </p>
                </div>
                <div class="col-lg-8" id="contact">
                    <section class="mb-4">
                        <h2 class="font-weight-bold text-center">Contact us</h2>
                        <p class="text-center mb-5">Do you have any questions? Please do not
                            hesitate to contact us directly. Our team will come back to you within
                            a matter of hours to help you.</p>
                        <div class="row">
                            <div class="mb-5">
                                <form id="contact-form" name="contact-form">
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <div>
                                                <input type="text" id="name" name="name" class="form-control mb-5"
                                                    placeholder="Enter your Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <div>
                                                <input type="text" id="email" name="email" class="form-control"
                                                    placeholder="Enter your E-mail">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-md-12">
                                            <div class="md-form mb-0">
                                                <input type="text" id="subject" name="subject" class="form-control"
                                                    placeholder="Enter your Subject">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <div class="col-md-12">
                                            <div>
                                                <textarea id="message" name="message" rows="3" class="form-control"
                                                    placeholder="Enter your Message"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="text-center text-md-left">
                                    <button class="btn btn-outline-light w-25 rounded-4">Send</button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
    <section class="mb-5">
        <div class="row d-flex justify-content-center">
        </div>
    </section>
    <div class="text-center p-3 bottom-footer">
        <button class="text-light btn btn-link" href="https://www.experionglobal.com/">IDP Tracking tool</button>
    </div>
</footer>