<h5 class="text-secondary mt-3 "> INDIVIDUAL DEVELOPMENT PLAN</h5>
<hr>
<main class="d-flex justify-content-center w-100">
   <div class="d-flex justify-content-center w-100 px-3">
      <div class="scroll w-100">
         <table class=" w-100 table table-striped table-hover text-dark">
            <thead>
               <tr>
                  <th>YEAR</th>
                  <th>IDP</th>
               </tr>
            </thead>
            <tbody id="target">
               <tr>
                  <td>2023</td>
                  <td>IDP FY 2024</td>
               </tr>
               <tr>
                  <td>2023</td>
                  <td>IDP FY 2023</td>
               </tr>
               <tr>
                  <td>2022</td>
                  <td>IDP FY 2022</td>
               </tr>
               <tr>
                  <td>2021</td>
                  <td>IDP FY 2021</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</main>
