h1 {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(22, 15, 15);
    font-family: monospace;
    width: 100%;
    display: grid;
    place-items: center;
    border-bottom: 3px solid rgb(18, 29, 30);
    background-color: rgb(224, 165, 78);
}

.show {
    font-size: 2rem;
}

.box {
    width: 90vw;
    height: 50vh;
}

h5 {
    padding-left: 2%;
}