<section class="mb-3">
    <div class="d-flex m-3">
        <h5 class="text-secondary">Objectives</h5>
        <a class="btn btn-outline-dark rounded-4 ms-auto h-25" [routerLink]="['/user/create-objective']">Create new</a>
    </div>
    <hr class="ms-3 me-3">
    <div class="d-flex justify-content-center">
        <div class="scroll">
            <table class="table table-striped table-hover text-light">
                <thead>
                    <tr>
                        <th>SlNo</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="target" *ngFor="let item of objective">
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.category.name}}</td>
                        <td>{{item.startDate}}</td>
                        <td>{{item.endDate}}</td>
                        <td>
                            <a class="btn btn-warning" [routerLink]="['/user/objective-detailed']">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>