<div class="container-fluid">
    <div class="row">
        <div class="middle mt-5  d-flex align-items-center justify-content-center">
            <img src="/assets/images/elon-musk.jpg" alt="..." class="rounded-circle border border-2 " width="10%">
        </div>
        <div class=" d-flex align-items-center justify-content-center">
            <div class="row">
                <form>
                    <table>
                        <thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="name" class="mt-5">First Name</label>
                                </td>
                                <td>
                                    <input type="text" name="firstname" id="firstname" class="mt-5 ms-3" value="{{profile.firstName}}"
                                        required>
                                </td>
                                <td>
                                    <label for="name" class="mt-5 ms-5">Last Name</label>
                                </td>
                                <td>
                                    <input type="text" name="lastname" id="lastname" class="mt-5 ms-3" value="{{profile.lastName}}"
                                        required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="number" class="mt-5" required>Mobile Number</label>
                                </td>
                                <td>
                                    <input type="text" name="number" id="number" class="mt-5 ms-3"
                                    value="{{profile.mobile}}" required>
                                </td>
                                <td>
                                    <label for="email" class="mt-5 ms-5">Email</label>
                                </td>
                                <td>
                                    <input type="Email" name="Email" id="Email" class="mt-5 ms-3"
                                    value="{{profile.email}}" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="dip" class="mt-5">Department</label>
                                </td>
                                <td>
                                    <input type="text" name="dip" id="dip" class="mt-5 ms-3" value="{{profile.department}}" required>
                                </td>
                                <td>
                                    <label for="dis" class="mt-5 ms-5">Desigination</label>
                                </td>
                                <td>
                                    <input type="text" name="dis" id="dis" class="mt-5 ms-3" value="{{profile.designation}}" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="dob" class="mt-5">Date of Birth</label>
                                </td>
                                <td>
                                    <input type="text" name="dob" id="dob" class="mt-5 ms-3" value="{{profile.dob}}" required>
                                </td>
                                <td>
                                    <label for="gender" class="mt-5 ms-5">Gender</label>
                                </td>
                                <td>
                                    <input type="text" name="gender" id="gender" class="mt-5 ms-3" value="{{profile.gender}}" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="empid" class="mt-5">Employee Id</label>
                                </td>
                                <td>
                                    <input type="text" name="empid" id="empid" class="mt-5 ms-3" value="{{profile.employeeId}}" required>
                                </td>
                                <td>
                                    <label for="mname" class="mt-5 ms-5">Manager Name</label>
                                </td>
                                <td>
                                    <input type="text" name="mname" id="mname" class="mt-5 ms-3" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="submit"
                                        class="btn btn-outline-dark mt-5 p-2 w-100 rounded-5">update</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>