<footer class="text-center text-light mt-5 overlay">
    <div class="container">
        <section class="mt-6">
            <div class="row text-center d-flex justify-content-center pt-5">
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a class="text-light">About Us</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a class="text-light">IDPs</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a class="text-light">Awards</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a class="text-light">Help</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a class="text-light">Contact</a>
                    </h6>
                </div>
            </div>
        </section>
        <hr class="my-5" />
        <section class="mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p>
                        A tool to track and capture employee progress.
                    </p>
                </div>
            </div>
        </section>
    </div>
    <section class="mb-5">
        <div class="row d-flex justify-content-center">
        </div>
    </section>
    <div class="text-center p-3 bottom-footer">
        <a class="text-light">IDP Tracking tool</a>
    </div>
</footer>