<div class="container-fluid">
    <div class="d-flex flex-row p-2">
        <div class="width ">
            <div class="row">
                <div class=" col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let counter of counters.slice(0, 2)">
                    <div class="card h-100 bg-white border-0">
                        <div class="card-body d-flex flex-column">
                            <i class="fas fa-clock fa-3x mb-3"></i>
                            <h4 class="card-title text-center">{{ counter.count }}</h4>
                            <p class="card-text text-center" id="totalPendingIDP">{{ counter.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let counter of counters.slice(2)">
                    <div class="card h-100 bg-white border-0 bg-gradient">
                        <div class="card-body d-flex flex-column">
                            <i class="fas fa-users fa-3x mb-3"></i>
                            <h4 class="card-title text-center">{{ counter.count }}</h4>
                            <p class="card-text text-center" id="totalEmployees">{{ counter.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-2">
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">IDP-Name</th>
                <th scope="col">Objective</th>
                <th scope="col">
                    <div class="form-group d-flex">
                        <select class="form-control select" id="status" [(ngModel)]="selectedStatus">
                            <option value="3">All Status</option>
                            <option value="0">Rejected</option>
                            <option value="1">Pending</option>
                            <option value="2">Accepted</option>
                        </select>
                    </div>
                </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let user of objectivePending" >
            <tr [hidden]="selectedStatus != user.remark && selectedStatus != 3">
                <td>{{user.userName}}</td>
                <td>{{user.department}}</td>
                <td>{{user.idpName}}</td>
                <td>{{user.objectiveName}}</td>
                <td style="text-align: center;">{{user.remark == 0 ? 'Rejected' : user.remark == 1 ? 'Pending' : 'Accepted'}}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success"  id="approve-btn" (click)="onApprove(user.objectiveId)" [style.display]="resultMessage ? 'none' : 'inline-block'">Approve</button>
                        <button type="button" class="btn btn-danger"  id="reject-btn" (click)="onReject(user.objectiveId)"[style.display]="resultMessage ? 'none' : 'inline-block'">Reject</button>
                        <p *ngIf="resultMessage" class="result-msg" [class.approved]="user.remark === 2" [class.rejected]="user.remark === 2">{{ resultMessage }}</p>
                    </div>
                </td>
                <td><a [routerLink]="['/manager/idp', user.userId]" class="text-warning text-decoration-none">View</a></td>
            </tr>
        </tbody>
    </table>
</div>