.secondary {
    background-color: #6f89fc5b;
}

.tertiary {
    background-color: #45e4ef7d;
}

.pink {
    background-color: #a062f77c;
}

.progress {
    overflow-x: scroll;
}

.image {
    background-image: linear-gradient(#FFFFFF, #FFFFFF, #003041 ,#003041);
}