<div class="row align-items-center me-1 ms-1 mb-5">
    <section class="container col-sm">
        <div class="d-flex">
            <div class="card-body text-dark me-2">
                <!-- <div class="card border rounded-3 h-25 p-2 mb-2">
                    <h3 class="text-secondary">Top Objectives:</h3>
                    <ul>
                        <li>item1</li>
                        <li>item1</li>
                        <li>item1</li>
                        <li>item1</li>
                        <li>item1</li>
                    </ul>
                </div> -->
                <div class="card p-2">
                    <h3 class="text-secondary mt-3">Objective Progress</h3>
                    <hr class="my-3">
                    <div class="container d-flex justify-content-center">
                        <div class="row">
                            <div class="col-sm">
                                <circle-progress [percent]="progress1[0]" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                                    [outerStrokeColor]="'#A162F7'" [innerStrokeColor]="'#a062f77c'" [animation]="true"
                                    [animationDuration]="300">
                                </circle-progress>
                                <div class="justify-content-center d-flex text-secondary">
                                    <h6>{{progressName[0]}}</h6>
                                </div>
                            </div>
                            <div class="col-sm">
                                <circle-progress [percent]="progress1[1]" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                                    [outerStrokeColor]="'#45E3FF'" [innerStrokeColor]="'#45e4ef7d'" [animation]="true"
                                    [animationDuration]="300">
                                </circle-progress>
                                <div class="justify-content-center d-flex text-secondary">
                                    <h6>{{progressName[1]}}</h6>
                                </div>
                            </div>
                            <div class="col-sm">
                                <circle-progress [percent]="progress1[2]" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                                    [outerStrokeColor]="'#6F88FC'" [innerStrokeColor]="'#6f89fc5b'" [animation]="true"
                                    [animationDuration]="300">
                                </circle-progress>
                                <div class="justify-content-center d-flex text-secondary">
                                    <h6>{{progressName[2]}}</h6>
                                </div>
                            </div>
                            <div class="col-sm">
                                <circle-progress [percent]="progress1[3]" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                                    [outerStrokeColor]="'#FFBE25EF'" [innerStrokeColor]="'#FFBE2581'" [animation]="true"
                                    [animationDuration]="300">
                                </circle-progress>
                                <div class="justify-content-center d-flex text-secondary">
                                    <h6>{{progressName[3]}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center image border rounded-3">
                <img src="/assets/gif/code.gif" alt="code gif" width="100%" height="60%">
            </div>
        </div>
    </section>
</div>