<section>
    <div class="d-flex m-3" *ngIf="role === 'User'">
        <h5 class="text-secondary">Training Item</h5>
        <a class="btn btn-outline-dark rounded-4 ms-auto h-25" [routerLink]="['/user/add-training', objectiveId]">Create
            new</a>
    </div>
    <hr>
    <h2 class="text-secondary text-center" *ngIf="trainingLength == 0">No data found!</h2>
    <div class="d-flex justify-content-center">
        <div class="scroll">
            <table class="table table-striped table-hover text-light" *ngIf="trainingLength!= 0">
                <thead>
                    <tr>
                        <th>SlNo</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>URL</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Progress</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let training of training; let i=index">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{training.name}}</td>
                        <td>{{training.description}}</td>
                        <td><a href="{{training.link}}">{{training.link}}</a></td>
                        <td>{{training.startDate | date: 'dd/MM/YYYY'}}</td>
                        <td>{{training.endDate | date: 'dd/MM/YYYY'}}</td>
                        <td>{{training.progress}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="editProgress(training.id, 'training')"
                                [disabled]="edit">
                                <span class="fa fa-eye"></span>
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="edit == 'training' && id == training.id">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Progress:</td>
                        <td>
                            <input type="number" class="form-control" #trainingProgress="ngModel" minlength="1"
                                [(ngModel)]="model.progress" min="0" max="100">
                            <div class="text-danger" *ngIf="trainingProgress.invalid && trainingProgress.touched">
                                <div *ngIf="trainingProgress.errors?.['min']">Progress should be above 0</div>
                                <div *ngIf="trainingProgress.errors?.['required']">Progress is required</div>
                                <div *ngIf="trainingProgress.errors?.['max']">Progress should be below 100</div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-warning"
                                [disabled]="!trainingProgress.touched && trainingProgress.invalid"
                                (click)="submitProgress(training.id)">
                                <span class="fa fa-eye"></span>
                                Update
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex m-3" *ngIf="role === 'User'">
        <h5 class="text-secondary">Action items</h5>
        <a class="btn btn-outline-dark rounded-4 ms-auto h-25" [routerLink]="['/user/add-action', objectiveId]">Create
            new</a>
    </div>
    <hr>
    <h2 class="text-secondary text-center" *ngIf="actionLength == 0">No data found!</h2>
    <div class="d-flex justify-content-center mb-5" *ngIf="actionLength != 0">
        <div class="scroll">
            <table class="table table-striped table-hover text-light">
                <thead>
                    <tr>
                        <th>SlNo</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Certificate</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Progress</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="target" *ngFor="let item of action; let i=index">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.certificate}}</td>
                        <td>{{item.startDate | date: 'dd/MM/YYYY'}}</td>
                        <td>{{item.endDate | date: 'dd/MM/YYYY'}}</td>
                        <td>{{item.progress}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="editProgress(item.id, 'action')">
                                <span class="fa fa-eye"></span>
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="edit == 'action' && id == item.id">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Progress:</td>
                        <td>
                            <input type="number" class="form-control" #actionProgress="ngModel" minlength="1"
                                [(ngModel)]="model.progress" min="0" max="100">
                            <div class="text-danger" *ngIf="actionProgress.invalid && actionProgress.touched">
                                <div *ngIf="actionProgress.errors?.['min']">Progress should be above 0</div>
                                <div *ngIf="actionProgress.errors?.['required']">Progress is required</div>
                                <div *ngIf="actionProgress.errors?.['max']">Progress should be below 100</div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-warning"
                                [disabled]="!actionProgress.touched && actionProgress.invalid"
                                (click)="submitProgress(item.id)">
                                <span class="fa fa-eye"></span>
                                Update
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>