<section>
    <h2 class="text-center my-3">Objective Name</h2>
    <h3 class="text-secondary">Training Items</h3>
    <hr>
    <div class="scroll mb-5 ms-3 me-3 d-flex">
        <div id="training" class="tile-one p-3 border rounded-4 d-flex flex-column m-3 tile" *ngFor="let item of list">
            <h5 class="text-dark">Training One</h5>
            <h6>Training Description</h6>
            <p class="ms-auto justify-content-end text-dark mt-3">20/01/2023</p>
        </div>
    </div>
    <h3 class="text-secondary">Action items</h3>
    <hr>
    <div class="scroll">
        <div class="scroll mb-5 ms-3 me-3 d-flex">
            <div class="tile-four p-3 border rounded-4 d-flex flex-column m-3 tile" *ngFor="let item of list">
                <h5 class="text-dark">Action One</h5>
                <h6>Action Description</h6>
                <p class="ms-auto justify-content-end text-dark mt-3">20/01/2023</p>
            </div>
        </div>
    </div>
</section>