<section>
    <div class="d-flex m-3">
        <h5 class="text-secondary">Training Item</h5>
        <a class="btn btn-outline-dark rounded-4 ms-auto h-25" [routerLink]="['/user/add-training', objectiveId]">Create
            new</a>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
        <div class="scroll">
            <table class="table table-striped table-hover text-light">
                <thead>
                    <tr>
                        <th>SlNo</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>URL</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Progress</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let training of training">
                    <tr>
                        <td>{{training.id}}</td>
                        <td>{{training.name}}</td>
                        <td>{{training.description}}</td>
                        <td>{{training.url}}</td>
                        <td>{{training.startDate | date: 'dd/MM/YYYY'}}</td>
                        <td>{{training.endDate | date: 'dd/MM/YYYY'}}</td>
                        <td>{{training.progress}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="editProgress(training.id, 'training')" [disabled]="edit">
                                <span class="fa fa-eye"></span>
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="edit == 'training' && id == training.id">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                        <input type="text" class="form-control" #trainingProgress="ngModel" minlength="1"
                                [(ngModel)]="model.progress"></td>
                        <td>
                            <button class="btn btn-warning" [disabled]="!trainingProgress.touched && trainingProgress.invalid" (click)="submitProgress(training.id)">
                                <span class="fa fa-eye"></span>
                                Update
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex m-3">
        <h5 class="text-secondary">Action items</h5>
        <a class="btn btn-outline-dark rounded-4 ms-auto h-25" [routerLink]="['/user/add-action', objectiveId]">Create
            new</a>
    </div>
    <hr>
    <div class="d-flex justify-content-center mb-5">
        <div class="scroll">
            <table class="table table-striped table-hover text-light">
                <thead>
                    <tr>
                        <th>SlNo</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Certificate</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Progress</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="target" *ngFor="let item of action">
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.certificate}}</td>
                        <td>{{item.startDate | date: 'dd/MM/YYYY'}}</td>
                        <td>{{item.endDate | date: 'dd/MM/YYYY'}}</td>
                        <td>{{item.progress}}</td>
                        <td>
                            <button class="btn btn-warning" (click)="editProgress(item.id, 'action')">
                                <span class="fa fa-eye"></span>
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr  *ngIf="edit == 'action' && id == item.id">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                        <input type="text" class="form-control" #trainingProgress="ngModel" minlength="1"
                                [(ngModel)]="model.progress"></td>
                        <td>
                            <button class="btn btn-warning" [disabled]="!trainingProgress.touched && trainingProgress.invalid" (click)="submitProgress(item.id)">
                                <span class="fa fa-eye"></span>
                                Update
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>